<%= form_with model: @task do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <% if @task.id.present? %>
    <%= f.select :status, Task::STATUS %>
  <% end %>

  <div class="form-group">
    <%= f.label :assigned_task %>
    <%= f.check_box :assigned_task, id: 'assigned_checkbox' %>
  </div>

  <div class="form-group" id="assigned_select">
    <%= f.label :parent_id, 'Assign to:' %>
    <%= f.select :parent_id, @users.collect { |p| [p.email, p.id] }, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary'%>
<% end %>

<%= javascript_pack_tag 'task_form', 'data-turbolinks-track': 'reload' %>