<div class="container border bg-light">
  <div class="row">
    <div class="col-sm">
      <%= link_to_unless_current task.title, task %>
    </div>
    <div class="col-sm">
      <%= truncate(task.description) # { link_to "Continue", task_path(task) }  
      %>
    </div>
    <div class="col-sm">
      <%= status_to_string(task.status) %>
      <%= link_to content_tag('i', '', class: 'fas fa-pencil-alt'), edit_task_path(task), class: 'action ml-4'%>
      <%= link_to content_tag('i', '', class: 'fas fa-trash-alt'), task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'action'%>
      <%= unless task.status == 3
            link_to content_tag('i', '', class: 'fas fa-check-square'), complete_task_path(task), class: 'action'
          end
      %>
    </div>
  </div>
</div>